@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 12px 
    .promo 
        &_header 
            font-size: 50px          
    .mobile
        &_item
            width: 300px
            &_subtitle
                font-size: 20px
    .require 
        padding: 0px 0 93px 0 
        &_list 
            li
                font-size: 15px        
    .select 
        min-height: 820px 
        padding-bottom: 90px             
    .footer
        padding: 14px 13px 38px 13px
        &_links
            width: 320px
            &_sub
                a
                    font-size: 10px

@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px 
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px 
        &_phone
            font-size: 18px 
        &_btn
            width: 100%
            height: 40px
            margin-top: 20px              
    .promo 
        &_header 
            font-size: 40px 
        &_subheader
            font-size: 30px            
    .cause
         &_block
            flex-direction: column
         &_title
            margin-top: 20px 
    .title
        font-size: 30px        
                  
    .mobile
        &_item
            width: 222px
            &_subtitle
                font-size: 15px 
    .select
        &_img 
            width: 100% 
        .title
            font-size: 30px 
    .require
        &_list 
            width: 100%
    .footer
        &_wrapper
            flex-direction: column
            align-items: center 
        &_wrapper > div
            width: 40%  
            margin-bottom: 30px    
          
              
        &_social
            width: auto
            justify-content: center

           
