@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 12px 
    .promo 
        &_header 
            font-size: 50px                    
    .mobile
        &_item
            width: 300px
            &_subtitle
                font-size: 20px
    .require 
        padding: 0px 0 93px 0 
        &_list 
            li
                font-size: 15px        
    .select 
        min-height: 820px 
        padding-bottom: 90px             
    .footer
        padding: 14px 13px 38px 13px
        &_links
            width: 320px
            &_sub
                a
                    font-size: 10px

@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px 
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px 
        &_phone
            font-size: 18px 
        &_btn
            width: 100%
            height: 40px
            margin-top: 20px              
    .promo 
        &_header 
            font-size: 40px 
        &_subheader
            font-size: 30px            
    .cause
        &_block
            flex-direction: column
        &_image    
            margin-right: 0    
        &_title
            margin-top: 20px 
    .title
        font-size: 30px                     
    .mobile
        &_item
            width: 222px
            &_subtitle
                font-size: 15px 
    .select
        &_img 
            width: 100% 
        .title
            font-size: 30px 
    .require
        &_list 
            width: 100%
    .footer
        &_wrapper
            flex-direction: column
            align-items: center 
        &_wrapper > div
            width: 40%  
            margin-bottom: 30px          
        &_social
            width: auto
            justify-content: center

@media (max-width: 767px) 
    .title
        margin-top: 25px
    .menu
        position: fixed
        flex-direction: column
        left: -100%
        top: 0 
        justify-content: center
        align-items: center
        padding: 20px 15px
        width: 50%
        height: 100vh
        background-color: rgba(0, 0, 0, .8) 
        transition: 0.6s all
        &_active
            left: 0
        &_item
            border: none
            padding-right: 0
            margin: 10px 0 
        &_link
            font-size: 20px          
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            margin-bottom: 2px
            background-color: #fff
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2) 
                    display: none
                &:nth-child(3)
                    transform: translateY(3px)  rotate(45deg)           
    .xs-hidden
        display: none
    .xs-visible
        display: block  
    .subheader
        &_phone
            display: block
            margin-top: 10px
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            color: #ffffff 
        &_btn
            display: block
            margin: 0 auto
            margin-top: 10px
            height: 40px
            background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%)
            border: 3px solid rgba(0,0,0,0.06)
            box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11)        
    .promo 
        &_header 
            line-height: 40px
            font-size: 42px
    .cause
        &_title
            text-align: center
    .select
        min-height: 600px
        padding: 40px 0
    .require
        padding: 40px 0
        min-height: 450px            
@media (max-width: 575px) 
    .subheader
        height: 60px
        &_official
            display: none
        &_logo
            margin-top: 16px 
        &_phone
            font-size: 12px
            font-weight: 400
            text-transform: uppercase 
            margin-top: 11px
        &_btn 
            width: 110px
            height: 22px
            font-size: 9px 
            margin-top: 6px 
    .promo 
        min-height: 400px 
        padding: 93px 0 35px 0
        &_descr
            display: none
        &_header
            font-size: 30px 
            padding: 0 24px
            line-height: 35px 
        &_subheader
            font-size: 20px 
            margin-top: 33px
            padding: 0 10px
            line-height: 28px
        &_btn
            width: 210px
            height: 50px
            margin-top: 63px 
    .menu 
        width: 85%
    .title 
        font-size: 15px
        line-height: 16px     
    .cause 
        padding: 20px 0 50px 0 
        &_block
            margin-top: 25px 
        &_image
            width: 100px
            height: 100px 
        &_descr
            width: 100%
            margin-top: 27px 
        &_title
            font-size: 16px
        &_subtitle
            font-size: 15px
            text-align: center
    .mobile 
        padding: 20px 0 20px 0
        &_item
            width: 290px
            height: 254px
            &_subtitle
                font-size: 20px
                line-height: 31px
                font-weight: 400
        .subtitle
                font-size: 14px
                line-height: 21px
                font-weight: 400 
                margin-top: 9px                     
    .select
        padding: 25px 0 33px 0
        min-height: 390px
        background: #000
        &_descr
            margin-top: 23px
            color: #ffffff
            font-size: 17px
            font-weight: 300
            line-height: 24px
        &_img
            margin-top: 35px 
            height: 190px 
        .black
            display: none      
        .title
            display: none
        .subtitle
            display: none 
    .require
        padding: 25px 0 
        .title
            margin-top: 15px
        &_block
            margin: 15px 0
        &_title
            font-size: 16px
            line-height: 24px
            font-weight: 400
        &_list
            margin-top: 8px
            li
                font-size: 14px
                line-height: 1.2
                font-weight: 300                    
    .map
        min-height: 360px  
        padding: 22px 0 30px 0 
        &_descr
            width: 200px
            line-height: 15px
            display: block
            bottom:30px
        .title
            margin-top: 15px
            font-size: 16px
            font-weight: 700
        .subtitle
            font-size: 14px
            line-height: 21px
    .footer
        min-height: 245px 
        &_line
            width: 290px
            margin: 0 auto 
        &_wrapper
            padding-top: 22px
            width: 290px
        &_wrapper > div
            margin-bottom: 20px
            width: auto
            &:nth-child(1)
                order: 2
            &:nth-child(2)
                order: 1
            &:nth-child(3)
                order: 3
        &_links
            &_main
                a
                    font-size: 14px
            &_sub
                flex-wrap: wrap
                justify-content: center
                a
                    margin: 0 28px
                    font-size: 11px
       
                        

             

                                

        
            
                
                      

    
                                  